.botao-carrinho{
    border: 1px solid rgb(232, 68, 68);
    border-radius: 20px;
    padding: 6px;
    background-color: #1f1f1f;
    font-family: 'Poppins-Regular';
    color: #fff;
    margin-top: -2em;
    cursor: pointer;
}