.div-editar-conta{
    background-color: #1f1f1f;
    height: 90vh;


    .informacao-usuario-editar-conta{
        display: flex;
        width: 100%;
        height: 90vh;
        align-items: center;
        flex-direction:column;
        justify-content: center;

    }
    .usuario{
        color: white;
        font-family: 'Poppins-Regular';
        font-weight: 100;
        width: 20rem;
    }

    .input{
        border: 1px solid #A83F37;
        border-radius: 5px;
        height: 1.7rem;
        background-color: #1f1f1f;
        font-family: 'Poppins-Regular';
        color: #ffff;
        font-weight: 100;
    }
    .alig-itens-usuario{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .botao{
        margin-top: 2rem;
    }

   .img{
    align-items: center;
   }

    .form_input{
        visibility: hidden;
        position: relative;
    }
}