.artistaprod{
    height: 100vh;
    background-color: #1f1f1f;

.faixa-1-artistaprod{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: space-around;

    .section-1-artista-prod{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70vw;
        justify-content: space-between;
    }

    .img-artista-prod{
      border-radius: 150px;
      width: 250px;
    }

    .txt-artistaprod{
        text-align: center;
        width: 27vw;
    }

    .tit-artistaprod{
        font-family: 'CinzelDecorative-Black';
        font-style: normal;
        font-weight: 100;
        font-size: 50px;
        line-height: 94px;
        text-transform: capitalize;
        color: #FFFFFF;
        text-align: center;
    
    }

    .desc-artista{
        font-family: 'Arya-Regular';
        font-weight: 100;
        color: #FFFFFF;
        font-size: 20px;
        text-align: center;
        width: 30vw;
    }

    .sec-artista-prod{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        
        h1{
            font-size: 20px;
            font-family: 'Arya-Regular';
            color: #FFFFFF;
            font-weight: 100;
        }
    }

    .div-artista-prod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70vw;
        height: 35vh;
        border: 2px solid #A83F37;
        text-align: center;
    }

    .conf-img-feed-produto{
        width: 150px;
        height: 150px;
        object-fit: cover ;
    }

    .fAVBsF {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;

    }    
    .rec.rec-arrow:disabled {
        visibility: hidden;
        cursor: pointer;
    }
    .rec-dot{
        background-color: #1bbef000 !important;
        box-shadow: 0 0 1px 3px #ffffff00 !important;
    }

    .lguFiu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 90%;
    }

    .cVXxbE {
        box-sizing: border-box;
        padding: 0;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        border: none;
        margin-top: -90px;
        background-color: #A83F37;
        font-size: 1.3em;
        content: "";
        height: 10px;
        width: 10px;
        box-shadow: 0 0 1px 3px #5b221e;
        border-radius: 50%;
        outline: none;
    }

    .kXteup {
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 1.6em;
        background-color: #A83F37;
        color: #333;
        box-shadow: 0 0 2px 0px #333;
        border-radius: 50%;
        border: none;
        padding: 0;
        width: 50px;
        height: 50px;
        min-width: 50px;
        line-height: 50px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        cursor: pointer;
        outline: none;
    }

   .artistaprod .Slxdj {
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgba(255, 9, 9, 0.928);
    color: #fff;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.kXteup:hover:enabled, .kXteup:focus:enabled {
    color: #fff;
    background-color: rgb(183, 58, 58);
    box-shadow: 0 0 2px 0 #333;
}

.Slxdj {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: #A83F37;
    color: #fff;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}

}
.botao-voltar-artista-prod{
    margin-left: 36em;
     cursor: pointer;
 }
}
