.feed{
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    align-items: center;
    justify-content: space-around;
    height: 170vh;

    .sec-top-hits{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .div-top-hits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80vw;
        height: 35vh;
        border: 2px solid #A83F37;
    }

      .sub-div-top-hits{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .conf-img-feed-music{
        width: 125px;

    }

    .conf-img-feed-produto{
        width: 150px;
        height: 150px;
        object-fit: cover ;
    }

    .tit-musica{
        padding-top: 10px;
        color: #fff;
        font-size: 15px;
        font-family: 'Cinzel-Regular';
    }

    .tit{
        padding-bottom: 10px;
        color: #fff;
        font-family: 'Cinzel-Regular';
        text-decoration: none;
    }

    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
      
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
}