.feed{
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    align-items: center;
    justify-content: space-around;
    height: 200vh;

    .sec-top-hits{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .div-top-hits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80vw;
        height: 35vh;
        border: 2px solid #A83F37;
    }

      .sub-div-top-hits{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .conf-img-feed-music{
        width: 125px;

    }

    .conf-img-feed-produto{
        width: 150px;
        height: 150px;
        object-fit: cover ;
    }

    .tit-musica{
        padding-top: 10px;
        color: #fff;
        font-size: 15px;
        font-family: 'Cinzel-Regular';
    }

    .tit{
        padding-bottom: 10px;
        color: #fff;
        font-family: 'Cinzel-Regular';
        text-decoration: none;
    }

    .fAVBsF {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;

    }    
    
    .lguFiu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 90%;
    }

    .cVXxbE {
        box-sizing: border-box;
        padding: 0;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        border: none;
        margin-top: -90px;
        background-color: #A83F37;
        font-size: 1.3em;
        content: "";
        height: 10px;
        width: 10px;
        box-shadow: 0 0 1px 3px #5b221e;
        border-radius: 50%;
        outline: none;
    }

    .kXteup {
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 1.6em;
        background-color: #A83F37;
        color: #333;
        box-shadow: 0 0 2px 0px #333;
        border-radius: 50%;
        border: none;
        padding: 0;
        width: 50px;
        height: 50px;
        min-width: 50px;
        line-height: 50px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        cursor: pointer;
        outline: none;
    }

   .feed .Slxdj {
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: rgba(255, 9, 9, 0.928);
    color: #fff;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.kXteup:hover:enabled, .kXteup:focus:enabled {
    color: #fff;
    background-color: rgb(183, 58, 58);
    box-shadow: 0 0 2px 0 #333;
}

.Slxdj {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.6em;
    background-color: #A83F37;
    color: #fff;
    box-shadow: 0 0 2px 0px #333;
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.musicas{
    img{
        width: 150px;
    }
    h1{
        color: #fff;
        text-align: center;
        font-family: 'Cinzel-Regular';
        font-size: medium;
        font-weight: 100;
    }
}

.produtos{
    margin-bottom: 5rem;
}
}