.card-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #a83f37 ;
    width: 30vw;
    height: 25vh;
    margin-top: 5em;

    .conf-img-card{
        width: 6.5rem;
    }

    .txt-card-adm{
        font-family: 'Poppins-Regular';
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }

  
}