.page-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 6em;
    width: 95%;
    margin-top: 15vh;
    

    .sec-1-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tit-login{
        width: 70%;
    }

      .txt-1-login{
        font-family: 'CinzelDecorative-Black';
        font-size: 35px;
    }

    .txt-2-login{
        font-family: 'Poppins-Regular';
        mix-blend-mode: darken;
        padding-top: 10px;
    }

    .txt-align-login{
        margin-left: 3em;
    }

    .sec-2-login{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #1f1f1f;
        align-items: center;
        width: 40vw;
        height: 51vh;
        border-radius: 25px;
        
    }

   .input-login-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
   }

    .sinput-login{
        height: 4.5vh;
        border-radius: 7px;
        width: 20vw;
        font-family: 'Poppins-Regular';
    }

    .txt-input-login{
        font-family: 'Poppins-Regular';
        color: #fff;
    }

    .cor{
        color: rgb(175, 46, 46);
    }

    .img-cobra{
        width: 6em;
        height: 12em;
    }

    .div-txt-login{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1em;
    }

    .txt-login-div{
        color: #fff;
        font-size: 15px;
        text-decoration: underline #1f1f1f;
        font-family: 'Poppins-Regular';
    }

    .txt-login-div-adm{
        color: #fff;
        font-size: 15px;
        text-decoration: underline #1f1f1f;
        font-family: 'Poppins-Regular';
    }

    .login-cor{
        text-decoration: underline;
        font-size: 15px;
        font-family: 'Poppins-Medium';
        color: rgb(175, 46, 46);
    }

    .login-cor-adm{
        text-decoration: underline;
        font-size: 15px;
        font-family: 'Poppins-Medium';
        color: rgb(175, 46, 46);
    }

    .bt-login-usuario{
        background-color: #fff;
        border-radius: 10px;
        border: none;
        padding: 0.5em;
        width: 5em;
        height: 2.5em;
        text-align: center;
        align-items: center;
    }
    .bt-login-usuario:hover{
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        border: none;
        padding: 0.5em;
        width: 5em;
        height: 2.5em;
        text-align: center;
        align-items: center;
    }

    .txt-bt-login-usuario{  
        text-align: center;      
        font-family: 'Poppins-Medium';
        color: rgb(175, 46, 46);
        font-size:14px;
}

    .div-adm-login{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
    }
}

.sconf-olho{
    margin-left: 11.5em;
    width: 1em;
    position: relative;
    top: -2.9999999999em;
    left: 3em;
   }

   @media screen and (max-width: 1920px) and (min-width:1750px){
    .page-login{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 6em;
        width: 95%;
        margin-top: 15vh;
        
    
        .sec-1-login{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .tit-login{
            width: 70%;
        }
    
          .txt-1-login{
            font-family: 'CinzelDecorative-Black';
            font-size: 40px;
        }
    
        .txt-2-login{
            font-family: 'Poppins-Regular';
            mix-blend-mode: darken;
            padding-top: 10px;
        }
    
        .txt-align-login{
            margin-left: 3em;
        }
    
        .sec-2-login{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #1f1f1f;
            align-items: center;
            width: 40vw;
            height: 60vh;
            border-radius: 25px;
            
        }
    
       .input-login-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25vh;
        
       }
    
        .sinput-login{
            height: 4.5vh;
            border-radius: 7px;
            width: 20vw;
            font-family: 'Poppins-Regular';
            font-size: 20px;

        }
    
        .txt-input-login{
            font-family: 'Poppins-Regular';
            color: #fff;
            font-size: 25px;

        }
    
        .cor{
            color: rgb(175, 46, 46);
        }

        .logo-login{
            margin-top: -100px;
            width: 300px;
        }
    
        .img-cobra{
            width: 13em;
            height: 22em;
        }
    
        .div-txt-login{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 1em;
        }
    
        .txt-login-div{
            color: #fff;
            font-size: 25px;
            text-decoration: underline #1f1f1f;
            font-family: 'Poppins-Regular';
        }
    
        .txt-login-div-adm{
            color: #fff;
            font-size: 25px;
            text-decoration: underline #1f1f1f;
            font-family: 'Poppins-Regular';
            margin-left: -2em;

        }
    
        .login-cor{
            text-decoration: underline;
            font-size: 25px;
            font-family: 'Poppins-Medium';
            color: rgb(175, 46, 46);
        }
    
        .login-cor-adm{
            text-decoration: underline;
            font-size: 25px;
            font-family: 'Poppins-Medium';
            color: rgb(175, 46, 46);
        }
    
        .bt-login-usuario{
            background-color: #fff;
            border-radius: 10px;
            border: none;
            padding: 0.5em;
            width: 7em;
            height: 3.5em;
            text-align: center;
            align-items: center;
        }
        .bt-login-usuario:hover{
            background-color: rgb(0, 0, 0);
            background-color: #fff;
            border-radius: 10px;
            border: none;
            padding: 0.5em;
            width: 7em;
            height: 3.5em;
            text-align: center;
            align-items: center;
        }
    
        .txt-bt-login-usuario{  
            text-align: center;      
            font-family: 'Poppins-Medium';
            color: rgb(175, 46, 46);
            font-size:23px;
    }
    
        .div-adm-login{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35vh;
            align-items: center;
        }
    }

    .sthm{
        width: 600px;
    }
    
    .sconf-olho{
        margin-left: 11.5em;
        width: 1.5em;
        position: relative;
        top: -3.3em;
        left: 9em;
       }
}