.align-endereços{
     display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 20vh;
.meus-enderecos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    border: 1px solid #A83F37;
    text-align: center;
    color: #fff;
    font-family: 'Arya-Regular';

    h1{
        font-weight: 100;

    }
}

}

