.tela-inicial-adm{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    align-items: center;
    .menu-adm-home{
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        width: 30vw;
        justify-content: space-between;
        align-items: center;
        height: 136vh;
        border-right: 0.5px solid #fff;
    }

    .logo-conf{
        margin-top: 9rem;
    }

   .conf-card-produto{
    cursor: default;
   }

    .tit-tela-inicial-adm{
        font-family: 'Poppins-SemiBold';
        color: #fff;
        padding-left: 2.5em;
        padding-top: 1em;
        font-size: 25px;
    }

    .cards-adm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    .exit-icon{
        width: 1.5em;
        margin-bottom: 16em;
    }
}
@media screen and (min-width:250px)and (max-width:320px) {

    .tela-inicial-adm{

    .tit-tela-inicial-adm{
        font-family: 'Poppins-SemiBold';
        color: #fff;
        position: relative;
        padding-left: 0;
        right: 37px;
        text-align: center;
        padding-top: 1em;
        font-size: 25px;
    }

    .cards-adm{
        display: flex;
        flex-direction: column;
        width: 130px;
        justify-content: space-around;
        align-items: center;
    }
    .menu-adm-home{
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        width: 30vw;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20em;
        border-right:0;
    }

    .logo-conf{
        visibility: hidden;
    }

    
    .exit-icon{
    position: fixed;
    width: 1.5em;
    top: 30em;
    }
}
}