.menu{
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    height: 100vh;
    position: fixed;
    justify-content: center;
    max-width: 10rem;
    width: 100%;

    .logo-cad-prod{
        margin-top: 9rem;
    }
    

    .menu-adm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #fff;
    width: 15vw;
    height: 100vh;
    align-items: center;
    }

    .menu-itens{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Poppins-Regular';
        color: #fff;
        line-height: 40px;
        text-align: center;
    }

    .align-itens-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 9.5rem;
        align-items: center;
    }

    .link-config-txt{
        color: #fff;
        text-decoration: none;
    }
    
    .align-itens-menu:hover{
    border-radius: 0.7rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    background-color: rgb(203, 59, 59);
    width: 8.5rem;
    }

    .exit-icon{
        margin: 1.8rem  ;
    
    }
}