@font-face {
    font-family:'Cinzel-Regular';
    src: url(../public/assets/fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family:'CinzelDecorative-Regular';
    src: url(../public/assets/fonts/CinzelDecorative-Regular.otf);
}


@font-face {
    font-family:'CinzelDecorative-Black' ;
    src: url(../public/assets/fonts/CinzelDecorative-Black.otf);
}

@font-face {
    font-family:'CinzelDecorative-Bold' ;
    src: url(../public/assets/fonts/CinzelDecorative-Bold.otf);
}

@font-face {
    font-family:'Poppins-Regular' ;
    src: url(../public/assets/fonts/Poppins-Regular.otf);
}

@font-face {
    font-family:'Poppins-Medium' ;
    src: url(../public/assets/fonts/Poppins-Medium.otf);
}
@font-face {
    font-family:'Poppins-SemiBold' ;
    src: url(../public/assets/fonts/Poppins-SemiBold.otf);

}


*{
 margin: 0;
 padding:0;
 box-sizing:border-box;
}