.botao-adm{
    border: 1px solid rgb(232, 68, 68);
    border-radius: 20px;
    padding: 6px;
    margin-bottom: 1rem;
    background-color: #1f1f1f;
    font-family: 'Poppins-Regular';
    color: #fff;
    cursor: pointer;
}