
.cabeçalho-lp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 90px;
    max-width: 580vh;
    top: 0px;
    background: #A83F37;
    }

    @media screen and (max-width: 600px){
       .cabeçalho{ 
        font-size: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 73px;
        max-width: 580vh;
        top: 0px;
        background: #A83F37;
       }
       .guitar{
        display: none;

       }
       .img{
        width: 150px;
        height: 45px;
       }
       .um {
        position: absolute;
        width: 87px;
        height: 35px;
        left: 153px;
        margin-top: -1.6em;
        background: #000000;
        border-radius: 15px;
        
        }
        
       .dois{
        position: absolute;
        width: 115px;
        height: 35px;
        left: 251px;
        margin-top: -1.6em;
        background: #000000;
        border-radius: 15px;
        }
        .titulo{
            left: calc(50% - 553px/2 - 349.5px);
            top: calc(50% - 138px/2 - 114px);
            font-family: 'CinzelDecorative-Black';
            font-style: normal;
            font-weight: 900;
            margin-top: -7em;
            margin-left: -1.75em;
            font-size: 35px;
            text-shadow: -9px 6px 8px #000000;
            line-height: 94px;
            text-transform: capitalize;
            color: #FFFFFF;
            -webkit-text-stroke:#000000;
            -webkit-text-stroke-width: 1.7px;
            mix-blend-mode: normal;

        }
        .subtitulo{
            font-family: 'CinzelDecorative-Regular';
            font-style: normal;
            font-weight: 450;
            font-size: 34px;
            margin-left: 52px;
            margin-top: -1em;
            line-height: 54px;
            color: #A83F37; 
            -webkit-text-stroke:#000000;
            -webkit-text-stroke-width: 0.6px;
            text-shadow: -4px 2px 8px #000000;
        }
        .textodesc{
            color: #FFFFFF;
            font-family: 'CinzelDecorative-Regular';
            font-style: normal;
            width: 277px;
            margin-top: -2rem;
            font-weight: 400;
            font-size: 16px;
            text-shadow: -4px 2px 2px #000000;
            line-height: 30px;
            padding-bottom: 2em;
            text-transform: capitalize;
            -webkit-text-stroke-width: 0px;
            -webkit-text-stroke:#000000;
            text-shadow: -4px 2px 2px #000000;
        }
        .textodesccor{
                color: #A83F37;
                -webkit-text-stroke:#000000;
                -webkit-text-stroke-width: 0.2px;
                text-shadow: -5px 3px 4px #000000;
                
            
        }
        
    }

    
    @media screen and (max-width: 600px){
     }
    
    
    .botao-cabeçalho-lp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }
    
    .bt-login {
    position: absolute;
    width: 122px;
    height: 42px;
    left: 970px;
    margin-top: -1.6em;
    background: #000000;
    border-radius: 200px;
    
    }
    .bt-login:hover {
        position: absolute;
        width: 124px;
        height: 45px;
        left: 970px;
        margin-top: -1.8em;
        background: #111111;
        border-radius: 200px;
        box-shadow: -13px 19px 41px 0px black;
        }
   
    .bt-cadastro{
    position: absolute;
    width: 122px;
    height: 42px;
    left: 1122px;
    margin-top: -1.6em;
    background: #000000;
    border-radius: 200px;
    }
    .bt-cadastro:hover{
        position: absolute;
        width: 124px;
        height: 46px;
        left: 1122px;
        margin-top: -1.8em;
        background: #111111;
        border-radius: 200px;
        box-shadow: -13px 19px 41px 0px black;
        }
    
    .bt-login-txt, .bt-cadastro-txt{
    font-family: 'CinzelDecorative-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    }
    
    .faixa-1-lp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    height: 698px;
    padding: 5em;
    background-color: #1f1f1f;
    }
    
    .titulo-1-lp{
    left: calc(50% - 553px/2 - 349.5px);
    top: calc(50% - 138px/2 - 114px);
    font-family: 'CinzelDecorative-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    text-shadow: -9px 6px 8px #000000;
    line-height: 94px;
    text-transform: capitalize;
    color: #FFFFFF;
    -webkit-text-stroke:#000000;
    -webkit-text-stroke-width: 1.7px;
    mix-blend-mode: normal;
    }
    .titulo-2-lp{
    font-family: 'CinzelDecorative-Regular';
    font-style: normal;
    font-weight: 450;
    font-size: 60px;
    margin-left: 70px;
    line-height: 54px;
    color: #A83F37; 
    -webkit-text-stroke:#000000;
    -webkit-text-stroke-width: 0.6px;
    text-shadow: -4px 2px 8px #000000;    }

    .text-desc0{
        display: flex;
        margin-top: 2em;
        text-shadow: -4px 2px 2px #000000;
    }
    
    .txt-1-lp{
    color: #FFFFFF;
    font-family: 'CinzelDecorative-Regular';
    font-style: normal;
    width: 500px;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 20px;
    text-shadow: -4px 2px 2px #000000;
    line-height: 30px;
    padding-bottom: 2em;
    text-transform: capitalize;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke:#000000;
    text-shadow: -4px 2px 2px #000000;
    

    }
    
    .cor-txt{
        color: #A83F37;
        -webkit-text-stroke:#000000;
        -webkit-text-stroke-width: 0.2px;
        text-shadow: -5px 3px 4px #000000;
        
    }
    
    .cor-letra-lp{
        color: #A83F37;
        -webkit-text-stroke:#000000;
        -webkit-text-stroke-width: 0.2px;
        text-shadow: -5px 3px 4px #000000;
        
    }
    
    .faixa-2-lp{
        display: flex;
        background: rgb(31,31,31);
        background: linear-gradient(180deg, rgba(31,31,31,1) 21%, rgba(168,63,55,1) 80%);
        width: 100%;
        padding-left: 4em;
        align-items: center;
    }
    
    .texto-f2-lp {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-shadow: -4px 2px 2px #000000;
    justify-content: space-around;
    }

   // *{ border: 1px solid black;}
    
    .texto-1-f2-lp{
     display: flex;
     flex-direction: column;
     text-shadow: -4px 2px 2px #000000;
     width: 750px;
     font-size: 25px;
     padding-left: 7em;
     font-family: 'CinzelDecorative-Black';
    }
    
    .titulo-3-lp{
        width: 580px;
        height: 162px;
        text-shadow: -4px 2px 2px #000000;
       
        color: #FFFFFF;
        font-family: 'CinzelDecorative-Regular';
        font-style: normal;
        font-weight: 200;
        font-size: 38px;
        line-height: 54px;
        text-align: right;
        text-indent: 3px;
        text-transform: capitalize;
        font-feature-settings: 'kern' off;
        -webkit-text-stroke:#000000;
        -webkit-text-stroke-width: 0.25px;
    }
    
    .txt-f2-lp{
        text-align: right;
        text-indent: 3px;
        font-family: 'Cinzel-Regular';
        font-style: normal;
        
        font-weight: 50px;
        font-size: 26px;
        color: #FFFFFF; 
        -webkit-text-stroke:#000000;
        -webkit-text-stroke-width: 0.4px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
        width: 580px;
    }
    
    .desc-lp{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-right: 5rem;
        padding-top: 5rem;
        margin-left: 9em;
        
    }
    
    .txt-desc{
    font-family: 'Cinzel-Regular';
    width: 240px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-weight: 100px;
    -webkit-text-stroke:#000000;
    -webkit-text-stroke-width: 0.25px;
    }

    .icon, .icon2, .icon3 {
        display: flex;
        justify-content: space-around; 
        padding: 1em 1em;
        margin-right: 2em;
        padding-right: 0.3em;
        position: relative;
        right: 1em;
        
      
    }
    
    .faixa-3{
    background: rgb(168,63,55);
    background: linear-gradient(90180deg, rgba(168,63,55,1) 21%, rgba(31,31,31,1) 80%);
    height: 580px;
    width: 100%;
    }
    

    .img-f3 {
        display: flex;
        justify-content: center;
        margin-left: -4em;
        position: relative;
        top: -2em;
        left: 0em;
    }

    .faixa-4 {
        background: hsl(0, 0%, 12%);
        width: 100%;
    }
    .faixa-5 {
        background: #1F1F1F;
        width: 100%;
    }
    .faixa-6 {
        background: #1F1F1F;
        width: 100%;
    }
    .faixa-7 {
        background: #1F1F1F;
        width: 100%;
    }
    .faixa-8 {
        background: #1F1F1F;
        width: 100%;
    }
    footer{
        background: #1F1F1F;
        width: 100%;
    }
    .sub-div-4 {
        background: #1F1F1F;
        width: 100%;
    }

    .desc-icons{
        display: flex;
        justify-content: space-between;
        margin-left: -11em;

    }
    .desc{
        display: flex;
        flex-direction: column;
        margin-left: 5.3em;
    }

    .txt-f3, .txt1-f3 {
        color: #FFFFFF;
        font-family: 'Poppins-Regular';
        text-align: justify;
        padding: 10em 4em;
        padding-top: -1rem;
    }

    .txt-f3{
        display: flex;
        justify-content: start;
        word-spacing: -3px;
        padding: 10em 4em;
    }

    
    .txt1-f3{
        display: flex;
        justify-content: start;
        word-spacing: 0px;
        padding: 10em 5em;
    }

    .txt2-f3{
        display: flex;
        flex-direction: row;
        text-align: center;
        word-spacing: 0px;
        word-break: break-word;
        padding: 0em 16em;
    }

   .img-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

   }

   .txt-1-f4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   
   .titulo-f4{
    left: calc(50% - 553px/2 - 349.5px);
    top: calc(50% - 138px/2 - 114px);
    font-family: 'CinzelDecorative-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    text-shadow: -9px 6px 8px #000000;
    line-height: 94px;
    text-transform: capitalize;
    color: #FFFFFF;
    -webkit-text-stroke:#000000;
    -webkit-text-stroke-width: 1.7px;
    mix-blend-mode: normal;
    padding: 1em 5em;
    padding-left: 2em;    
   }

   .subtitulo-f4{
    color: #ffffff;
    font-family: 'CinzelDecorative-Regular';
    font-size: 28.3px;
    padding-top: 1em;
    padding-left: 2em;
    position: relative;
    top: -1.3em;
  
   }

   .txt-f4-div{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      
   }

   .txt-f4{
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Gothic-Regular';
    font-size: 25px;
    font-weight: 100;
    position: relative;
    top: -1.3em;
    width: 81vw;
    
    


    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 0.2px;

   }
    
   .txt2-f4{
    color: #777777;
    font-family: 'Gothic-Regular';
    font-size: 25px;
    font-weight: 100;
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 0.2px;
    position: relative;
    top: -1em;
    display: flex;
    justify-content: center;
    
   }

   .f5{
    display: flex;
    flex-direction: row;
    display:flex ;
    justify-content: space-between;
    
    
   }
   .img-f5{
      margin-left: 80vh;
      position: relative;
      width: 55vh;
      height: 55vh;
      right: 35em;

   }
   .txtf5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10em;
   }
   .tit-f5{
    font-family: "CinzelDecorative-Black";
    color: #FFFFFF;
    width: 46vh;
    display: flex;
    font-size: 2.4em;
    line-height: 2.5;
   }

   .txt-f50{
    display: flex;
    justify-content: center;
    font-family: 'Cinzel-Regular';
  
   }

.txt-f6{
    color: #FF0909;
    display: flex;
    width: 57vh;
    text-align: center;
    margin-top: 7em;
    
}
 .rosas{
    display: flex;
    justify-content: space-between;
 } 
 .f6{
    display: flex;
    justify-content: center;
 }
 .img-f6{
    width: 20vh;
    height: 20vh;
    margin-top: -1em;
    margin-right: -1.599em;
 }
 .img2-f6{
    width: 25vh;
    height: 25vh;
    margin-top: 7em;
    margin-left: -4.599em;
 }
 .f7{
    display: flex;
    flex-direction: row;
 }
 .txt-f7{
    font-family: "Cinzel-Regular" ;
    margin: 20vh;
    font-size: 1.3em;
    text-align: center;
    margin-top: 2em;
 }
 .img-f7{
    width: 50vh;
    height: 50vh;
 }
 .div-f8{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .txt-f8{
        color: #FA0000;
        width: 40vh;
        

        
     }
     .img-f8{
        width: 35vh;
        height: 35vh;
        align-items: center;
     }

 }
 .div-artistas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -6em;
    margin-top: 4em;
 }
 .img-artista{
    padding-left: 4em;
 }
 .star{
    padding-left: 4em;
    margin-left: -6.39em;
    margin-top: -0.3em ;
 }


   *{
      border: px solid #FF0000;
     
   }
