.f1-loginADM{
        
    .login{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }
    .infos{
        display: flex;
        align-items: flex-start;
        background-color: #1f1f1f;
        flex-direction: column;
        width: 520px;
        height: 520px;
        justify-content: center;
        border-radius: 50px;
        padding-left: 3.5rem;
    }
    .info-adm{
        font-family: 'Cinzel-Regular';
        color: #ffff;
        line-height: 30px;
        font-size: 18px;
    }
    .input-adm{
        width: 20vw;
        height: 3.8vh;
        left: 123px;
        top: 387px;
        font-weight: bold;
        font-family: 'Cinzel-Regular';    
        text-align: center;
        outline: 0px;
        background-color: #fff;
        border-radius: 7px;
        border: none;
    }

    .botao-login-adm{
        width: 100px;
        height: 30px;
        background: #EBEBEB;
        border-radius: 10px;
        margin-top: 1rem;
        border: none;
        margin-left: 6.3em;
    }
    .bt-login-adm{
        color: #a3281f;
        font-size: 17px;
        font-family: 'CinzelDecorative-Bold';
    }
    .logo{
        margin-bottom: 20px;

    }

    .conf-olho{
     margin-left: -2em;
     margin-bottom: -0.2em;
     width: 1em;
    }

    .txt-erro-login-adm{
         font-family: 'Cinzel-Regular';
         color: #a3281f;
         margin-top: 1rem;
    }
}

@media (max-width:490) {
    
}