.tit, .tit1, .tit2, p, link{
    color: white;
}

.nav-rdp{
    display: flex;
    flex-direction: column;
}

.link, p{
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular';
    .link:link{
        color: #A83F37;
        text-decoration: none;
        font-family: 'Poppins-Regular';
    }
}

.rdp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65em;
    color: #A83F37;
    margin-left: 5em;
}
.slinha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75em;
    color: #A83F37;
    margin-left: 1.2em;
}
.hr{
    color: #A83F37;
}