.cad-prod{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    align-items: center;

    .nav-cad-prod{
        display: flex;
        flex-direction: column;
        
    }

    .content-nav-cad-prod{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width: 80vw;
        margin-top: 9rem;
    }


    .input-cad-prod{
        width: 15rem;
        height: 2.5vh;
        margin-bottom: 10px;
        margin-top: 5px;

    }
   
    .aside-cad-prod{
        display: flex;
        flex-direction: column;
        font-family: 'Poppins-Regular';
        color: #fff;
        padding-left: 20rem;
    }

    .tit-cad-prod{
        font-family: 'Poppins-Regular';
        color: #fff;
        margin-left: 6.5rem;
    }
    .cat-selecionada {
        font-size: .7em;
        background-color: #672dc3;
        padding: .5em 1em;
        margin: .5em 5px;
        color: #fff;
        border-radius: 1em;
    }

    .form_input{
        position: relative;
        visibility: hidden;
    }

}