.todos-prod{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    align-items: center;
    height: 100vh;
    
    .faixa-1-todos-prod{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70vh;
    }

    .produtos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30vw;
    }

    .align-prod{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-todosprodutos{
        font-family: 'CinzelDecorative-Regular';
        text-transform: capitalize;
        color: #ffff;
        font-weight: 100;
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .nome-prod{
        font-family: 'Cinzel-Regular';
        color: #ffff;
        margin-top: 0.5rem;
        width: 180px;
        text-align: center;
        
    }

    .botao-voltar{
        border: 1px solid rgb(232, 68, 68);
        border-radius: 20px;
        padding: 6px;
        width: 5rem;
        background-color: #1f1f1f;
        font-family: 'Poppins-Regular';
        color: #fff;
        cursor: pointer;
    }
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    margin-top: 4em;
    margin-left: 19em;
    line-height: 1.4;
    background: #1f1f1f;
    padding: 14px 28px;
    border-radius: 15px;
    border: 3px solid #A83F37;
    width: 54vw;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}