.pagamento-name{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin-left: 30em;
    font-size: 1.3em;
    font-family: 'Poppins-Regular';
}

.msg{
    color: rgb(255, 255, 255);
    margin-left: 25em;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Poppins-Regular';
    margin-top: 30px;
}

.pagamentofinal{
    background-color: #1f1f1f;
    padding-bottom: 24em;
}

.rodape{
    padding-top: 15em;
}