.produtos-adm{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;

    .content-produtos-adm{
        display: flex;
        flex-direction: column;
        margin-left: 3em;
        justify-content: space-around;
        align-items: flex-start;
    }


    .tit-produtos{
        font-family: 'Poppins-Regular';
        color:#fff;
        padding-bottom: 0.8em;
    }

    .align-itens-produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}