.corzinha-cart{
    background-color: #1f1f1f;
    min-height:100vh;

.main-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

    .prod-caixa{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        height: 35vh;
        border: 2px solid #A83F37;
        margin-top: 6em;
    }

    .prod-caixa-2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .align-itens-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
    }

    .align-produto-nome{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .align-itens-valor-qtd-apagar{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 30vw;
        height: 30vh;
    }

    .align-itens-column-valor-qtd-apagar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .align-itens-row-total-itens{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;
        margin-top: 2em;
    }

    .align-itens-column-total-itens{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.linha{
    rotate: 90deg;
    width: 6vh;
    margin-left: 2em;
}


.rdp-carrinho{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 26em;
    right: -1em;
}