.meus-pedidos{
    background-color: #1f1f1f;
    align-items: center;
    min-height: 100vh;

    .nav-pedidos{
      display: flex;
      width: 98vw;
      min-height: 120vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
}

