.enviar-pedido-popup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    align-items: center;

    span{
        color: #37A83C;
    }

    p{
        margin-top: 30px;
    }

    .txt-popup-pedido{
        font-family: 'Poppins-Regular';
        color: #000;
        text-align: center;
        width: 25vw;
        font-size: 25px;

    }
}