.div-conta{
    background-color: #1f1f1f;
    height: 100vh;

    .informacao-usuario{
        display: flex;
        width: 100%;
        height: 80vh;
        align-items: center;
        flex-direction:column;
        justify-content: space-evenly;

    }

    .div-informacoes{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .usuario{
        color: white;
        font-family: 'Poppins-Regular';
        font-weight: 100;
    }

    .img-user{
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 100px;
    }
}
    