.div-conta{
    background-color: #1f1f1f;
    height: 170vh;

    .infos-usuario{
        display: flex;
        justify-content: center;
        margin-top: 12rem;
        
    }

    .usuario{
        color: white;
        font-family: 'Poppins-Regular';
        font-weight: 100;
    }
}
    